
<div class="row">
  <div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
      <li class="active"><a href="?action=index">Overview <span class="sr-only">(current)</span></a></li>
      <li><a href="?action=pos">Point-of-Sale</a></li>
      <li><a href="?action=products">Products</a></li>
      <li><a href="?action=invoices">Invoices</a></li>
      <li><a href="?action=purchase_orders">Purchase Orders</a></li>
      <li><a href="?action=customers">Customers</a></li>
      <li><a href="?action=employees">Employees</a></li>
    </ul>
  </div>
</div>